<div class="container">
    <div class="title">
        <span>Results-driven IT Engineer with a comprehensive background in full-stack development,
            including design, development, testing, and deployment of robust software solutions. Proven success in
            fast-paced and demanding environments such as healthcare and fintech. Demonstrated expertise in open-source
            contributions and excelling in hackathons with innovative business pitches. Passionate about leveraging
            technical proficiency and entrepreneurial vision to drive impactful solutions and poised for future
            entrepreneurial success.</span>
    </div>

    <div class="name">
        <span>
            <span>Hi,</span> I am
        </span><br>
        <span>Mohammad Bilal</span><br>
        <span>Software Developer</span>
    </div>

    <div class="profile">
        <div class="profile-bg"></div>
        <img src="../../assets/baner-memoji.png" alt="">
    </div>
</div>